.App {
  text-align: center;
}

button {
  padding: 1.2em;
  background-color: transparent; 
  border: 2px solid #ffffff; 
  border-radius: 50%; /* Ajuste para hacer el borde redondo */
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  padding-bottom: 20px;
  background-color: azure;
}

input {
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.images {
  padding-top: 150px;
}